{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container">

    <form method="post" class="form m-auto w-500">
        <h4 class="mb-3">Puzzle Run</h4>
        {% csrf_token %}

        <div class="row g-3">
          <div class="col-12">
            <label class="form-label" for="{{ form.puzzle.id_for_label }}">Puzzle:</label>
            {{ form.puzzle }}
          </div>

          
          <div class="col-12">
            <div class="row g-3">

              <div class="col-sm-4">
                <label class="form-label" for="{{ form.score_1.id_for_label }}">Score 1:</label>
                {{ form.score_1 }}
              </div>
              <div class="col-sm-4">
                <label class="form-label" for="{{ form.score_2.id_for_label }}">Score 2:</label>
                {{ form.score_2 }}
              </div>
              <div class="col-sm-4">
                <label class="form-label" for="{{ form.score_3.id_for_label }}">Score 3:</label>
                {{ form.score_3 }}
              </div>
            </div>

          </div>
          
          
          <div class="col-sm-6">
            <label class="form-label" for="{{ form.duration.id_for_label }}">Duration:</label>
            {{ form.duration }}
          </div>
          
          <div class="col-sm-6">
            <label class="form-label" for="{{ form.date.id_for_label }}">Date:</label>
            {{ form.date }}
          </div>
          
        </div>  
        <hr class="my-4">
          
        <button type="submit" class="w-100 btn btn-primary btn-lg">Confirm</button>

        
      </form>

      <script src="{% static 'ctt/js/puzzle_run.js' %}"></script>
      <script src="{% static 'ctt/js/training.js' %}"></script>
  </div>
{% endblock %}