{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
{% endblock %}


{% block content %}

<div class="container m-auto w-500">
  <div class="row">
    <h4>New Training</h4>
    <div class="list-group list-group-horizontal" style="min-height: 80px;">
      <a href="{% url 'puzzle_run_form' %}" class="list-group-item list-group-item-action text-center flex-fill training-list list-group-item-primary">
        <div class="d-flex flex-column align-items-center">
          <h4><i class="fa-solid fa-puzzle-piece"></i></h4>
          <p>Puzzle</p>
        </div>
      </a>
      <a href="{% url 'tactic_form' %}" class="list-group-item list-group-item-action text-center flex-fill training-list list-group-item-success">
        <div class="d-flex flex-column align-items-center">
          <h4><i class="fa-solid fa-chess-knight"></i></h4>
          <p>Tactic</p>
        </div>
      </a>
      <a href="{% url 'game_form' %}" class="list-group-item list-group-item-action text-center flex-fill training-list list-group-item-warning">
        <div class="d-flex flex-column align-items-center">
          <h4><i class="fa-solid fa-trophy"></i></h4>
          <p>Game</p>
        </div>
      </a>
      <a href="{% url 'session_form' %}" class="list-group-item list-group-item-action text-center flex-fill training-list list-group-item-info">
        <div class="d-flex flex-column align-items-center">
          <h4><i class="fa-solid fa-chalkboard-user"></i></h4>
          <p>Session</p>
        </div>
      </a>
    </div>
    <hr class="my-3">

  </div>
  <div class="row">
    <h4>Training History</h4>
    {% for date, training_data in grouped_training.items %}
    <hr class="my-3">

    <ul class="list-group">
      <li class="list-group-item list-group-item-action active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ date }}</h5>
          <small>{{ training_data.total_duration }} Hours</small>
        </div>
      </li>

      {% for training in training_data.trainings %}
      {% if training|get_type:"PuzzleRun" %}
        <li class="list-group-item list-group-item-action list-group-item-primary">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ training.puzzle }} Run</h5>
            <small>{{ training.duration }} min</small>
          </div>
          {% if training.puzzle == 'Puzzle Storm' or training.puzzle == 'Puzzle Racer' %}
          <p class="mb-1">Score: {{ training.score_1 }} | {{ training.score_2 }} | {{ training.score_3 }}</p>
          {% elif training.puzzle == 'Daily Challenge' %}
          <p class="mb-1">Score: {{ training.score_1 }}</p>
        </li>
        {% endif %}

        {% elif training|get_type:"Tactic" %}
        <li class="list-group-item list-group-item-action list-group-item-success">
          <div class="d-flex w-100 justify-content-between">

            <h5 class="mb-1">{{ training.training_set }} Tactic</h5>
            <small>{{ training.duration }} min</small>
          </div>
          <p class="mb-1">Score: {{ training.score }} / {{ training.exercises }}</p>
          <small>Performance: {{ training.performance }}</small>
        </li>

        {% elif training|get_type:"Game" %}
        <li class="list-group-item list-group-item-action list-group-item-warning">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ training.rithm }} {% if training.otb %} OTB {% else %} {% endif %} Games</h5>
            {% if training.link %}
            <p class="mb-1">Check Game: <a href="{{ training.link }}">Link</a></p>
            {% endif %}
            <small>{{ training.duration }} min</small>
          </div>
          <p class="mb-1">Score: {{ training.score }} / {{ training.games }}</p>
          <small>Elo: {{ training.elo }}</small>
        </li>

        {% elif training|get_type:"Session" %}
        <li class="list-group-item list-group-item-action list-group-item-info">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ training.session_type }}</h5>
            <small>{{ training.duration }} min</small>
          </div>
          <p class="mb-1">Theme: {{ training.theme }}</p>
          <small>{{ training.notes }}</small>
        </li> 
        {% endif %}


      {% endfor %}

    </ul>

    {% endfor %}
  </div>
</div>

{% endblock %}